@model TaskMgr.Models.TwoData

<div class="text-center">
    <h1 class="display-2">Witaj</h1>
    <p class="display-4">Liczba aktywnych zadań : <p class="display-3 text-success">@Model.NumberNotDone</p></p>
    <p class="display-4"> Dzięki naszej aplikacji wykonałeś/aś już następującą liczbę zadań: <p class="display-3 text-warning ">@Model.NumberDone </p></p>
</div>
