<h1 class="display-3">Informacje szczegółowe</h1>

<br />
<br />

<h4>Autor: <small>Igor Tarasiński</small></h4>
<h4>E-mail: <small>igoss1037@gmail.com</small> </h4>

<br />
<br />
<br />

<h1 class="display-4">Chcesz usunąć wszystkie zadania ? </h1>

<br />

<div class="col-sm-6 ">
    <a asp-action="Reset" class="btn btn-primary w-100"> Resetuj dane </a>
</div>

